#allybox-embed {
    font-size: 14px;
    width: 500px;
    height: 650px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px 30px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    z-index: 1000;
    border-radius: 10px;
    flex-direction: column;
    display: none;
}
#allybox-embed a {
    text-decoration: underline;
}
#allybox-embed p,
#allybox-embed ol, 
#allybox-embed ul {
    font-size: 14px;
    margin-bottom: 20px;
}
#allybox-embed ol {
    list-style-type: decimal;
}
#allybox-embed ul {
    list-style-type: disc;
}
#allybox-embed h3 {
    margin-top: 0;
    font-size: 18px;
}
#allybox-chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    flex-wrap: wrap;
}
#allybox-chat-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 100px;
}
#allybox-chat-form {
    display: flex;
    align-items: flex-end;
}
#allybox-embed .textarea-container {
    width: 100%;
}
#allybox-embed textarea {
    font-size: 14px;
    width: calc(100% - 10px);
    height: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 4px;
}
#allybox-embed button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#allybox-embed .message {
    margin: 0 0 15px 0;
    padding: 10px 16px;
    border-radius: 10px;
}
#allybox-embed .message.user {
    background-color: #0693e3;
    color: #fff;
    margin-right: 40px;
}
#allybox-embed .message.assistant {
    background-color: #e0e0e0;
    margin-left: 40px;
    margin-right: 20px;
}
#allybox-embed .message h3 {
    font-size: 16px;
}
#allybox-embed .hidden {
    display: none;
}
#allybox-embed .allybox-chat-footer {
    margin-top: 14px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 21px;
}