#allybox-embed {
    font-size: 14px;
    width: 500px;
    height: 650px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    z-index: 1000;
    border-radius: 10px;
    display: none;
    flex-direction: column;
}
#allybox-embed a {
    text-decoration: underline;
}
#allybox-embed p,
#allybox-embed ol, 
#allybox-embed ul {
    font-size: 14px;
    margin: 16px 0 20px;
}
#allybox-embed ol {
    list-style-type: decimal;
    padding-left: 20px;
}
#allybox-embed ul {
    list-style-type: disc;
    padding-left: 20px;
}
#allybox-embed li {
    margin: 10px 0;
    padding-left: 10px;
}

#allybox-embed ul ul,
#allybox-embed ol ol,
#allybox-embed ol ul,
#allybox-embed ul ol,
#allybox-embed ul ul li,
#allybox-embed ol ol li,
#allybox-embed ol ul li,
#allybox-embed ul ol li {
    padding: 0;
}
#allybox-embed ul ul li::marker,
#allybox-embed ol ol li::marker,
#allybox-embed ol ul li::marker,
#allybox-embed ul ol li::marker {
    content: none;
}
#allybox-embed h3 {
    margin-top: 0;
    font-size: 18px;
}
#allybox-embed img {
    max-width: 100%;
    margin: 24px 0;
}
#allybox-chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    flex-wrap: wrap;
}
#allybox-chat-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
}
#allybox-chat-form {
    display: flex;
    align-items: flex-end;
}
#allybox-embed .textarea-container {
    position: relative;
    width: 100%;
}
#allybox-embed textarea {
    box-sizing: border-box;
    font-size: 14px;
    width: calc(100% - 10px);
    height: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 4px;
    resize: none;
}
#allybox-embed textarea:focus {
    box-shadow: none;
}
#allybox-embed button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#allybox-embed .message {
    margin: 0 0 15px;
    padding: 10px 20px;
    border-radius: 10px;
}
#allybox-embed .message.user {
    background-color: #0693e3;
    color: #fff;
    margin-left: 60px;
}
#allybox-embed .message.assistant {
    background-color: #f3f4f6;
}
#allybox-embed .message.initial {
    background-color: #f3f4f6;
    border-left: 3px solid #0693e3;
}
#allybox-embed .message.topics {
    padding-left: 0;
    padding-right: 0;
}
#allybox-embed .message.topics p {
    margin: 0;
}
#allybox-embed .message.topics a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0693e3;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
#allybox-embed .message h3 {
    font-size: 16px;
}
#allybox-embed .message .assistant-loading {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    animation: allybox-assistant-loading-pulse 0.9s linear infinite;
}
#allybox-embed .hidden {
    display: none;
}
#allybox-embed .allybox-chat-footer {
    margin-top: 14px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 21px;
}
#allybox-embed .loader,
#allybox-embed .spinner {
    width: 48px;
    height: 48px;
}
#allybox-embed .loader {
    position: relative;
}
#allybox-embed .spinner {
    border: 1px solid #e0e0e0;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: allybox-spinner-rotation 0.9s linear infinite;
}
@keyframes allybox-spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}   
@keyframes allybox-assistant-loading-pulse {
    0% {
        scale: 0.5;
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 0.5;
    }
}   
#allybox-embed .stop-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
}
#allybox-embed .stop-message:after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 16px;
    height: 16px;
    background-color: #e0e0e0;
}
#allybox-embed .stop-message:hover {
    cursor: pointer;
}
#allybox-embed .stop-message:hover:after {
    background-color: #000;
}
#allybox-embed .allybox-input-length {
    position: absolute;
    height: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    left: 0;
    bottom: -1px;
    max-width: calc(100% - 10px);
    overflow: hidden;
}
#allybox-embed .allybox-input-length-current {
    display: block;
    height: 100%;
    width: 0;
    background-color: #e0e0e0;
}