.block-user-assistants {
    .card-top {
        flex-grow: 1;
    }
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
