.single-assistant {
    #mmmush-embed {
        height: calc(100vh - 200px);
        min-height: 650px;
    }

    .file:hover {
        .btn-warning {
            @apply inline-block;
        }
    }

    .name:hover,
    .description:hover {
        .btn {
            @apply inline-block;
            line-height: 12px;
        }
    }

    #allybox-embed {
        height: calc(100vh - 230px);
        min-height: 500px;
        top: 160px;
        right: 20px;
    }
}
