@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'typography';
@import 'blocks/index';
@import 'single-thread';
@import 'single-assistant';
@import 'login';

@layer base {
  html {
    font-size: 16px;
  }
  p {
    @apply my-4;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  a {
    @apply underline;
  }
}
// h1, h2, h3, h4, h5, h6 {
//   @apply mb-4;
// }

// p {
//   @apply mb-16;
// }

.image-test {
  @apply w-80 h-80 bg-cover;
  background-image: url('./images/sample-image.jpg');
}

html {
  background-image:repeating-linear-gradient(45deg, oklch(1 0 0), oklch(1 0 0) 13px, oklch(0.961151 0 0) 13px, oklch(0.961151 0 0) 14px)
}

.breadcrumbs {
  a {
    @apply no-underline;
  }
  li:last-child {
    @apply font-bold;
  }
}

main {
  min-height: calc(100vh - 160px);
}

header {
  @apply relative;
  z-index: 2000;
a {
    @apply no-underline;
  }
  .account-menu {
    z-index: 1;
  }
}

header.navbar {
  @apply py-0;
  min-height: 0;
}

.steps {
  @apply pl-0;
  .step {
    @apply pl-0;
  }
}